/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Body styling */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.blog-text{
  margin-bottom: 50px;
}

.page-title{
  margin-bottom: 55px;
}

.main-section{
  width: 1400px;
  margin: 100px auto;
}

.blog-image-grid{
  display: grid;
  grid-template-columns: auto auto auto;
  width: 1024px;
  gap: 0px 350px;
  justify-content: space-between;
  position: relative;
}

.blog-post-image img{
  width: 380px;
  height: 200px;
  object-fit: cover;
}

.blog-snippet{
  padding: 20px 15px 20px 15px;
  height: 170px;
  width: 350px;
  background-color: #FFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  top: 153px;
}

.blog-taxonomies{
  display: grid;
  grid-template-columns: auto auto auto;
  width: 200px;
  gap: 0px 40px;
  justify-content: space-between;
  margin: 55px 0px;
}

.icon svg path {
  fill: #E05647;
}

.icon svg{
  width: 16px;
}
.blog-taxonomies>div{
  width: 90px;
}

.blog-post-image{
  width: 50px;
  height: 100px;
}

.button-with-arrow {
  width: auto; /* Allow the button to size dynamically */
  height: auto; /* Let the button's height adjust naturally */
  margin: 20px auto; /* Optional: center it horizontally */
  text-align: center; /* Align content inside */
  z-index: 99;
 
  margin-top: 400px;
}
